<% content_for :map do %>
<p>
  <strong>Name:</strong>
  <%= @station.name %>
</p>
 
<p>
  <strong>Company:</strong>
  <%= @station.company %>
</p>

<p>
  <strong>Address:</strong>
  <%= @station.address %>
</p>

<p>
  <strong>City:</strong>
  <%= @station.city %>
</p>

<p>
  <strong>State:</strong>
  <%= @station.state %>
</p>

<p>
  <strong>Zip Code:</strong>
  <%= @station.zip %>
</p>

<p>
  <strong>Country:</strong>
  <%= @station.country %>
</p>

<p>
  <strong>Web Site:</strong>
  <%= @station.url %>
</p>

<p>
  <strong>Phone:</strong>
  <%= @station.phone %>
</p>

<p>
  <strong>Email:</strong>
  <%= @station.email %>
</p>

<p>
  <strong>Latitude:</strong>
  <%= @station.lat %>
</p>

<p>
  <strong>Longitude:</strong>
  <%= @station.lon %>
</p>

<%= link_to 'Back', stations_path %>
<%= link_to 'Edit', edit_station_path(@station) %>

<% end %>


