<!DOCTYPE html>
<html>
<head>
	<title>Geographic Gas Prices</title>
	<%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
	<%= javascript_include_tag "application", "data-turbolinks-track" => true %>
	<%= csrf_meta_tags %>
	<link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css">
	<script src="//netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js"></script>
	<link href='http://fonts.googleapis.com/css?family=Ubuntu' rel='stylesheet' type='text/css'>
</head>
<body>
	<div id="main_container" class="container">
		<div id="header">
			<div class="container">
				<h1 id="logo"><a href="/">Geographic Gas Prices</a></h1>
				<div class="navbar-right">
					<% if user_signed_in? %>
						Hello <strong><%= link_to current_user.email, edit_user_registration_path, :class => "navbar-link" %>
						</strong> |
						<%= link_to "Logout", destroy_user_session_path, method: :delete, :class => "navbar-link" %>
					<% else %>
						<%= link_to "Login", new_user_session_path, :class => "navbar-link" %> |
						<%= link_to "Sign up", new_user_registration_path, :class => "navbar-link" %>
					<% end %>
				</div>
			</div>
		</div>
		<div id="content_container" class="row">
			<div id="content" class="col-md-5">
				<div class="panel panel-default">
					<div class="panel-heading"><h4>Menu</h4></div>
					<div class="panel-body">
						<a href="/"><button type="button" class="btn btn-default">Home</button></a>
						<a href="#"><button type="button" class="btn btn-default">About</button></a>
						<a href="#"><button type="button" class="btn btn-default">Test</button></a>
					</div>
				</div>
				<div class="panel panel-default">
					<div class="panel-heading"><h4>Search for Local Gas</h4></div>
					<div class="panel-body">
						<div id="search_form">
							<%= form_tag({controller: "/stations", action: "search"}, method: "get") do %>
							<%= label_tag(:search, "") %>
							<%= text_field_tag :search, nil, placeholder: 'City or Zip' %>
							<%= submit_tag("Search") %>
							<% end %>

							<%= yield :content %>
						</div>
					</div>
				</div>

				<% if notice %>
  				<p class="alert alert-success"><%= notice %></p>
				<% end %>
				<% if alert %>
  				<p class="alert alert-danger"><%= alert %></p>
				p><% end %>
				<%= yield %>
			</div>
			<div id="map_container" class="col-md-7">
				<div id="map">
					<%= yield :map %>
				</div>
			</div>
		</div>
	</div>
	<%= yield :crud %>
</body>
</html>
